body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reg_btn,
#login_btn {
  background-color: deeppink;
  color: ghostwhite;
  padding: 7px 12px;
  border-radius: 8px;
  text-decoration: none;
  margin: 10px;
}

#btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home_msg {
  text-align: center;
}

#login_btn {
  background-color: deepskyblue;
}

#reg_btn:hover {
  background-color: rgb(196, 13, 111);
}

#login_btn:hover {
  background-color: rgb(8, 134, 177);
}
